.item1 {grid-area: main;}
.item2 {grid-area: sidebar;}
.item3 {grid-area: content;}
.item4 {grid-area: button;}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: 
    'main main sidebar'
    'main main sidebar'
    'content content sidebar'
    'button button sidebar';
    grid-gap: 20px;
}

.grid-container > div {
    background-color: white;
    text-align: left;
    padding: 20px 20px;
  }

.grid-item1 {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.grid-item2 {
    grid-column: 3 / 4;
}

.grid-item3 {
    grid-column: 1 / 3;
}

.grid-item4 { 
    grid-column: 1 / 3; 
}

.button {
    background-color: darkgray;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: left;
    display: inline;
    font-size: 16px;
    cursor: pointer;
}

body {
    background: white;
}

/*.container {
    margin: 
    width:
    max-width: 
} */

h1 {
    font-family: Verdana, Geneva, sans-serif;
    color: Grey;
    font-size: 3rem;
}

h4  {
    color: grey;
    font-size: 1rem;
}

h5 {
    color: white;
    font-size: 1rem;
}

p {
    color: grey;
    font-size: 1rem;
    line-height: 1.75;

}

li  {
    list-style-type: none;
    list-style-position: inside;
}

.columns {
    float: left;
    position: relative;
    margin-right: auto;

}

.footer {
    grid-column: 1 / 4;
    background-color: darkgray;
    color: white;
    columns: 2;

}

img.ri {
    grid-area: photo; 
    max-width: 100%;
    height: auto;
}

    /*@media (min-width: 960px) {
    .container {
        width: auto;}
    .grid-item2 {
    display: none;
    }*/

    @media (min-width: 576px) {
    .grid-item2 {
        display: none;
    }
    }   
    
    /* Medium and up (Tablets) */
    @media (min-width: 768px) {
    .grid-item2 {
        display: none;
    }    
    }

    @media (min-width: 768px) {
    .footer {
            display: none;
    }    
    }

    @media (min-width: 768px) {
    .grid-item2 {
            display: block;
    }
    }
    
    /* Large and up (Desktops) */
    @media (min-width: 992px) { 
    .footer {
            display: none;
    }
    }
    
    /* Extra Large and up (Wide Screen Desktops) */
    @media (min-width: 1200px) {
    .footer {
            display: none; 
    }
    }